<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tripledip.rubberchicken">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="org.tripledip.diana.ui.MainGameActivity" />
        <activity
            android:name="org.tripledip.demo.DemoActivity"
            android:exported="true"
            android:label="@string/title_activity_demo"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="org.tripledip.landemo.ServerActivity"
            android:exported="true"
            android:label="@string/title_activity_lan_demo"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>
